// configuration file for WindServer clients

WindServerClientConfig (
    ws_uri: "ws://localhost:9010/wind/ws",
    file_uri: "http://localhost:9010/wind/wind-data",

    access_token: "my-super-secret-access-token",

    max_age: Duration( secs: 3600, nanos: 0), // 1h - how long to keep cached data files
    max_forecasts: 18, // max number of forecasts to keep for each region (in ringbuffer)
)