// convex polygon with CONUS hull

GeoPolygon(
    exterior: [
        GeoPoint( lon: -129.8029, lat: 52.0 ),
        GeoPoint( lon: -130.40192, lat: 40.0444 ),
        GeoPoint( lon: -122.1342, lat: 29.91261 ),
        GeoPoint( lon: -97.6721, lat: 24.1709 ),
        GeoPoint( lon: -78.92798, lat: 22.0 ),
        GeoPoint( lon: -58.08073, lat: 45.92986 ),
        GeoPoint( lon: -129.8029, lat: 53.0 ),
        GeoPoint( lon: -129.8029, lat: 52.0 )
    ]
)