OrbitalSatOrbitCalculatorConfig (

    full_region: GeoRect(
        west: -140.0,
        south: 24.0,
        east: -49.0,
        north: 51.0
    ),

    calculation_interval: Duration(secs:86400, nanos:0)
)