// example HrrrDataSetSpec for Santa Cruz Mountains 

HrrrDataSetConfig(
    name: "CZU",
    bbox: GeoRect(
        west: -122.6799806,
        south: 36.9947389,
        east: -121.8616750,
        north: 37.4842722
    ),
    fields: ["TCDC", "TMP", "UGRD", "VGRD"],
    levels: ["lev_2_m_above_ground", "lev_10_m_above_ground", "lev_entire_atmosphere"],
)